Software/Códigos_Node_RED/Node_RED_Code/Node_RED.json
[
    {
        "id": "8ea0d7c87342e392",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "766a06fb2ec1e102",
        "type": "mqtt in",
        "z": "8ea0d7c87342e392",
        "name": "",
        "topic": "AirCheck",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f9af5e58f185f37b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "03dfeb77388caa26",
                "9d410195626c555a"
            ]
        ]
    },
    {
        "id": "03dfeb77388caa26",
        "type": "function",
        "z": "8ea0d7c87342e392",
        "name": "function 3",
        "func": "const sensor1 = msg.payload.sensor1;\nconst sensor2 = msg.payload.sensor2;\nconst sensor3 = msg.payload.sensor3;\n\n// Rangos personalizados\nconst r1 = { min: 600, max: 1000 };\nconst r2 = { min: 300, max: 600 };\nconst r3 = { min: 40, max: 65 };\n\n// Array para almacenar múltiples alarmas\nconst alarmas = [];\n\n// Verifica cada sensor independientemente\nif (sensor1 > r1.max) {\n    alarmas.push(\"Riesgo por acumulación de CO₂ (Sensor 1)\");\n} else if (sensor1 > r1.min) {\n    alarmas.push(\"Aire viciado (Sensor 1)\");\n}\n\nif (sensor2 > r2.max) {\n    alarmas.push(\"Peligro por humo/gas (Sensor 2)\");\n} else if (sensor2 > r2.min) {\n    alarmas.push(\"Presencia moderada de humo/gas (Sensor 2)\");\n}\n\nif (sensor3 > r3.max) {\n    alarmas.push(\"Mucha presencia de polvo, puede afectar a la salud (Sensor 3)\");\n} else if (sensor3 > r3.min) {\n    alarmas.push(\"Aire regular, algunas partículas de polvo presentes (Sensor 3)\");\n}\n\n// Combinar todas las alarmas en un solo mensaje\nconst mensajeAlarma = alarmas.length > 0 ? alarmas.join(\" | \") : null;\n\nconst msg1 = { payload: sensor1 };\nconst msg2 = { payload: sensor2 };\nconst msg3 = { payload: sensor3 };\nconst msg4 = mensajeAlarma ? { payload: mensajeAlarma } : null;\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "e7d01e75af28be59",
                "719242e5bf86a3fd"
            ],
            [
                "fa030c81855fb1ef",
                "0e29b1e3398ff605"
            ],
            [
                "af0de36622273593",
                "3f5748edfc77c80c"
            ],
            [
                "9de46bc154f0d7ac"
            ]
        ]
    },
    {
        "id": "e7d01e75af28be59",
        "type": "ui_chart",
        "z": "8ea0d7c87342e392",
        "name": "",
        "group": "9a0a1b6e.4a6e1",
        "order": 2,
        "width": "12",
        "height": "8",
        "label": "MQ-135 - Enfocado en gases toxicos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2b00ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#f91010",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fa030c81855fb1ef",
        "type": "ui_chart",
        "z": "8ea0d7c87342e392",
        "name": "",
        "group": "9a0a1b6e.4a6e1",
        "order": 1,
        "width": "12",
        "height": "8",
        "label": "MQ-2 – Enfocado en humo/gases combustibles",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2b00ff",
            "#eab3b6",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "af0de36622273593",
        "type": "ui_chart",
        "z": "8ea0d7c87342e392",
        "name": "",
        "group": "9a0a1b6e.4a6e1",
        "order": 3,
        "width": "12",
        "height": "8",
        "label": "GP2Y1010AU0F - Concentración de polvo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2b00ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "42a097bf36e85abe",
        "type": "ui_toast",
        "z": "8ea0d7c87342e392",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "d47a0928184ed0e0",
        "type": "ui_audio",
        "z": "8ea0d7c87342e392",
        "name": "",
        "group": "b9c5a5c7.7a6a58",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": "",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "9de46bc154f0d7ac",
        "type": "delay",
        "z": "8ea0d7c87342e392",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "42a097bf36e85abe",
                "d47a0928184ed0e0"
            ]
        ]
    },
    {
        "id": "9d410195626c555a",
        "type": "debug",
        "z": "8ea0d7c87342e392",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "719242e5bf86a3fd",
        "type": "ui_gauge",
        "z": "8ea0d7c87342e392",
        "name": "MQ135",
        "group": "b9c5a5c7.7a6a58",
        "order": 3,
        "width": "6",
        "height": "8",
        "gtype": "gage",
        "title": "MQ-135",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#00ff00",
            "#ffea00",
            "#ff0000"
        ],
        "seg1": "600",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "0e29b1e3398ff605",
        "type": "ui_gauge",
        "z": "8ea0d7c87342e392",
        "name": "MQ2",
        "group": "b9c5a5c7.7a6a58",
        "order": 2,
        "width": "6",
        "height": "8",
        "gtype": "gage",
        "title": "MQ-2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "900",
        "colors": [
            "#00ff00",
            "#ffea00",
            "#ff0000"
        ],
        "seg1": "300",
        "seg2": "600",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f5748edfc77c80c",
        "type": "ui_gauge",
        "z": "8ea0d7c87342e392",
        "name": "GP2Y1010AU0F",
        "group": "b9c5a5c7.7a6a58",
        "order": 4,
        "width": "6",
        "height": "8",
        "gtype": "gage",
        "title": "GP2Y1010AU0F",
        "label": "µg/m³",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00ff00",
            "#ffea00",
            "#ff0000"
        ],
        "seg1": "36",
        "seg2": "76",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "f9af5e58f185f37b",
        "type": "mqtt-broker",
        "name": "Hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a0a1b6e.4a6e1",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "f9c0c8b3.2c8e3",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9c5a5c7.7a6a58",
        "type": "ui_group",
        "name": "Medidores",
        "tab": "f9c0c8b3.2c8e3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9c0c8b3.2c8e3",
        "type": "ui_tab",
        "name": "Calidad del Aire",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]